.mat-nav-list:hover .mat-icon
    color : #5bae50

.alert
    color: #03a9f4
    font-weight: 500
    font-family: Roboto, "Helvetica Neue", sans-serif
    background-color: #b3e5fc
    border-color: #03a9f4
    border:3px solid
    border-radius: 15px
    padding: 5px
    margin: 10px
