@import "../node_modules/@angular/material/theming";
@include mat-core();



$my-primary: mat-palette($mat-green);
$my-accent:  mat-palette($mat-light-green);
$my-warn:    mat-palette($mat-deep-orange);
$my-theme: mat-dark-theme($my-primary, $my-accent, $my-warn);
@include angular-material-theme($my-theme);

.alternative {
  $my-primary: mat-palette($mat-amber, 800);
  $my-accent: mat-palette($mat-light-green, 800);
  $my-theme: mat-light-theme($my-primary, $my-accent);
  @include angular-material-theme($my-theme);
}
