<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Dashboard</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" (click)="createList()">Create List</button>
  </mat-card-actions>
  <mat-card-content class="dashboard-card"> 
    <wt2-message-box [messageModel]="messageModel"></wt2-message-box>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="list-card" *ngFor="let list of todoItemLists">
          <mat-card-header>
            <mat-card-title class="list-title">
              {{list.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="listMenu" aria-label="Toggle list menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #listMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="createItem(list)">Create Item</button>
                <button mat-menu-item (click)="deleteList(list)">Delete List</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-list-card-content">
            <div>
              <!-- List content here -->
              <div class="list-details">
                <p>Creator: {{list.creator.username}}</p>
                <p>Deadline: {{list.deadLine | date}} </p>
                <p>Description: {{list.description}}</p>
              </div>
              <!-- Todo item list here -->
              <mat-selection-list  [multiple]="false">
                <mat-list-option *ngFor="let item of list.todoItems">
                  <div>
                    <span (click)="showItem(item)" class="item-title">{{item.title}}</span>
                    <span> 
                      <button mat-icon-button class="more-button" [matMenuTriggerFor]="itemMenu" aria-label="Toggle item menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #itemMenu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="showItem(item)">Show Item</button>
                        <button mat-menu-item (click)="deleteItem(item)">Delete Item</button>
                      </mat-menu>
                    </span>
                  </div>
                </mat-list-option>
              </mat-selection-list>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      </mat-grid-list> 
  </mat-card-content>
</mat-card >