<div class="container mt-4">
  <!-- header -->
  <div class="container-fluid">
    <h1>tuDo</h1>
    <p class="mb-1">The future of ticket systems.</p>
  </div>
  <hr>

  <!-- navigation tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
  <div class="col-12 text-right" *ngIf="!isLoggedIn">
    <button class="btn btn-sm btn-outline-secondary " style="float: right;"(click)="logout()">Logout</button>
  </div>
  <hr>

  <!-- news area -->
  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
