$bg-color: #333
$text-color: #ccc

.nav-link
  background: $bg-color
  padding: .5rem .75rem
  border-radius: .25rem
  color: $text-color
  font-size: 1rem

.nav-link.active
  background: lighten($bg-color, 40)
  padding: .5rem .75rem
  border-radius: .25rem
  color: black
  font-size: 1rem
