<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" fixedInViewport
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'"
  [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Navigation</mat-toolbar>
      <mat-nav-list>
        <a *ngIf="!isLoggedIn" 
        mat-list-item 
        routerLink="/auth"
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a *ngIf="!isLoggedIn" 
        mat-list-item 
        routerLink="/register"
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a *ngIf="isLoggedIn" 
        mat-list-item 
        routerLink="/dashboard"
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a *ngIf="isLoggedIn" 
        mat-list-item 
        routerLink="/profile"
        routerLinkActive="active" 
        ariaCurrentWhenActive="page">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a *ngIf="isLoggedIn" 
        mat-list-item 
        ariaCurrentWhenActive="page"
        (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar>
          <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </button>
          <span class="flexExpand">tuDo</span>
      </mat-toolbar>
      <wt2-message-box [messageModel]="messageModel"></wt2-message-box>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

