<div class="card">
    <hr>
    <h4 class="title">{{todoItem.title}}</h4>
    <div class="card-body">
        <p>Description: {{todoItem.description}}</p>
        <p>Deadline: {{todoItem.deadLine}}</p>
        <p>Last edited: {{todoItem.lastEdited}}</p>
        <p>Creator: {{todoItem.creator}}</p>
        <p>Assignee: <span>{{todoItem.assignee}}</span></p>
    </div>
    <hr>
    <button class="btn w-100 btn-outline-primary" (click)="closeDialog()" id="closeDialogBtn" type="button">Close</button>
</div>