<form [formGroup]="registrationForm" novalidate (ngSubmit)="register()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
      <mat-card-subtitle>Become a part of <strong>eventDo</strong></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <wt2-message-box [messageModel]="messageModel"></wt2-message-box>

      <mat-form-field class="full-width">
        <input matInput placeholder="Username:" formControlName="username">
        <mat-error *ngIf="registrationForm.controls['username'].hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>    

      <mat-form-field class="full-width">
        <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password:" formControlName="password">
        <mat-error *ngIf="registrationForm.controls['password'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Repeat Password:" formControlName="passwordRep">
        <mat-error *ngIf="registrationForm.controls['passwordRep'].hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!canRegister()">Register</button>
    </mat-card-actions>
  </mat-card>
</form>
